/*Selector {
    Property: Value;
}*/

/*https://css-tricks.com*/
/*https://paletton.com*/

body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

h2  {
    color: #AA4139;
    text-align: center;
    border: 5px dashed rgb(255,176,170, 0.5);
    cursor: pointer;
}

p   {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    color: black;
    border: red;
}

.active {
    color: red;
}

